{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	basic_auth {
		{$DEMO_BASIC_AUTH_USER} {$DEMO_BASIC_AUTH_HASH}
	}

	handle /api/* {
		request_body {
			max_size 60MB
		}
		reverse_proxy api:3101
	}

	handle {
		reverse_proxy web:3000
	}
}
